@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@300;600&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-style: bold;
    
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
    height: 2880px;
}
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 3rem;
    color: rgb(177, 70, 20);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease ;
}

.logo:hover{
    transform: scale(1.4);

}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;



}
nav a:hover,
nav a.active{
    color: rgb(177, 70, 20);
    border-bottom: 3px solid rgb(177, 70, 20);
}
@media(max-width:995px){
    nav{
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid rgb(177, 70, 20);
        border-bottom: 3px solid rgb(177, 70, 20);
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: black;
        border-top: 0.1rem solid black; 
    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius:  0.5rem ;
        border-bottom: 0.5rem solid rgb(177, 70, 20);
    }


}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem ;
    font-weight: 700;
    line-height: 1.3;

}
span{
    color: rgb(177, 70, 20);
    
}
.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;

}
.home-content p{
    font-weight: 500px;
    font-size: 20px;
}
.home-img{
    border-radius: 50%;

}
.home-img img{
    position: relative;
    width: 40vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid  rgb(177, 70, 20);
    cursor: pointer;
    transition: 0.2s linear;
}
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;

}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid rgb(177, 70, 20);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: white;
}

.social-icons a:hover{
    color:black;
    transform: scale(1.3) translateY(-5px);
    background-color: rgb(177, 70, 20);
    box-shadow: 0 0 25px rgb(177, 70, 20);
}
.btn{
    display: inline-block;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    transition: 0.5s ease;
    background-color: rgb(177, 70, 20);
    border-radius: 10px;
    padding: 15px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;

}
.btn:hover{
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    transform: scale(1.1) translateY(-1px);
    box-shadow: 0 0 25px rgb(177, 70, 20);
    
}
.typing-text span{
    padding-left: 20px;
}
.block{
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
}
.container-trending h3{
    font-weight: 600px;
    font-size: 31px;
    transition: all 0.5s ease;
    display: flex;
    cursor: alias;
    margin-left: 50px;

}
.container-trending h3:hover{
    text-shadow: 0 0 25px rgb(247, 247, 247);
    color: rgb(239, 239, 168);
    

}

.container-trending .see-all{
    color: white;
    background-color: #411010;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    margin-right: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: all 0.5s ease;
    gap: 5px;
    cursor: pointer;
    font-size: 20px;
}

.container-trending .see-all:hover{
    background-color: #961d1d;
    transform: scale(1.1);
    box-shadow: 0 0 25px rgb(227, 64, 5);

}

.container-trending{
    padding-top: 50px;
}
.container-trending .games{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}
.container-trending .games span{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.container-trending .block:last-child{
    margin-right: 50px;
    width: 380px;
    box-shadow: 0 0 25px rgb(251, 251, 251)

}
.container-trending .block:first-child{
    width: 333.5px;
    transform: scale(1.05);
    margin-left: 50px;
    box-shadow: 0 0 25px rgb(214, 101, 3);

}
.container-trending .block:nth-child(2){
    margin-left: 70px;
    box-shadow: 0 0 25px rgb(195, 3, 176);
}
.container-trending .block:nth-child(3){
    margin-left: 40px;
    width: 115.5px;
    box-shadow: 0 0 30px grey;
}

.container-trending .block{
    transition: all 1s ease;
}
.container-trending .block:hover{
    transform: scale(1.1);
    box-shadow: 0 0 25px rgb(3, 63, 214);
}

.container-trending .games {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься */
    justify-content: center; /* Центрирует блоки по горизонтали */
    gap: 40px; /* Расстояние между блоками */
    width: 100%;
    padding: 50px 0;
}
.block {
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-trending .block:first-child,
.container-trending .block:nth-child(2),
.container-trending .block:nth-child(3),
.container-trending .block:last-child {
    margin: 0;
    width: 200px;
    box-shadow: 0 0 25px rgba(255,255,255,0.3); /* мягкая тень */
}
.block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.block {
    width: 220px;
    height: 220px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255,255,255,0.1);
}
.container-trending .games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
    padding: 50px 0;
}
  

